  <div class="product-card grid collapse two-columns">
  <div class="card-info product-info-section product-info-color">
    <a class="product-title" href="{{ product.url }}">
        <h2>
          {{ product.title }}
          <span class="price accent-color">{{ product.price | | money_without_trailing_zeros }}</span>
        </h2>
    </a>

    <p>{{ product.description | split_html | split: '.' | first | append: '.'}}</p>
        <div class="product-info-color">
            {% if product.variants.size >1%}
            {{'product.card.options' | t: optionCount: product.variants.size }} &mdash;
            {% endif%}

            {% if product.available %}
                <a href="{{ product.url }}">{{ 'product.card.more_info' | t }}</a>
            {% else %}
            {{'product.form.sold_out' | t }}
            {% endif %}
        </div>
  
  </div>
    <div class="card-image">
        <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | img_url: '1200x900', crop:'center' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
    </div>
    
</div>